<!--
  Generated template for the EntryListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary>
    <ion-title>Entries</ion-title>
    <ion-buttons end>
      <button ion-button right round outline (click)="createNewEntry()">Create New Entry</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid fixed>
    <ion-item-group *ngFor="let month of monthsSpanned;">
      <ion-item-divider color="light">
        <b>{{ month }}</b>
      </ion-item-divider>
      <button ion-item icon-start block color="dark" *ngFor="let entry of sleepentries[month] ; let i = index" (click)="openEntry(month, i)">
        <ion-icon name="alarm"></ion-icon>
        {{ entry.getDateString() }}
      </button>
    </ion-item-group>
  </ion-grid>
</ion-content>