page-calendar {
}

// Day-select
ion-calendar .calendar-row .select {
  background: #fcaeff;
  transition: transform 2s;
}
ion-calendar .calendar-row .select:hover {
  transform: rotate(1800deg);
  transition-timing-function: ease-in-out;
}

.row[justify-content-center] {
  background: linear-gradient(to bottom right, cornflowerblue, aqua);
}
