<!--
  DID YOU KNOW that ion-calendar's months are 0-based and days are 1-based. That is all.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Calendar</ion-title>
    <button ion-button (click)="clearDatabase()">ClearDB</button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <button ion-button round outline (click)="openCalendar()">Show Calendar</button> -->
  <ion-calendar #calendar lang="en" [events]="entriesLogged" (onDaySelect)="onDaySelect($event)" (onMonthSelect)="onMonthSelect($event)"></ion-calendar>
  <button ion-button (click)="calendar.today()">Jump to Today</button>
  <div *ngFor="let entry of entriesLogged;let j = index">
    <span *ngIf="entry.isComplete; then completeBlip else incompleteBlip"></span>
    <ng-template #completeBlip>
      <span class="eventBlip-complete"></span>
    </ng-template>
    <ng-template #incompleteBlip>
      <span class="eventBlip-incomplete"></span>
    </ng-template>
  </div>
</ion-content>